$color-base : #2086e4;

@mixin grid {
    
    padding: 0;
    border: none;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    height: 10%;
    color: #181818;
    margin: 0;
}

#datepicker-container {
    position: relative;
}

#datepicker {
    border: 1px solid #eee;
    padding: 10px;
    outline:none;
}

#widget {
    border: 1px solid #eee;
    min-height:300px;
    width: 300px;
    box-shadow: 5px 5px 2px #888888;
    position: absolute;
    left: 0;
    display: none;
    color: white;
    text-align: center;
    
    .header {
        padding: 0;
        margin: 0;
        background-color: $color-base;
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h5 {
            margin: 0;
            padding: 3%;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            span {
                color: black;
                border: 1px solid #ccc;
                padding: 2% 4% 2% 4%;
                border-radius: 2px;
                background-color: white;
                box-shadow: 1px 2px 2px #000;
            }
            span:hover {
                background-color: darken(white,10%);
            }
            span:nth-child(1){
                width: 50%;
            }
            span:nth-child(2){
                width: 20%;
                margin-left: 3%;
            }
        }
        .actions{
            color: darken(#1d87e6,20%);
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .action{
            background-color: lighten(#1d87e6,10%);
            height: 20px;
            width: 30px;
            text-align: center;
            margin-left: 5%;
            cursor: pointer;
            box-shadow: 1px 2px 2px #000;
        }
    }
    
    .grid-container {
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
    }
    
    .days-grid{
        @include grid;
        margin-bottom: auto;
        thead {
            background-color: $color-base;
            padding: 0;
            border: none;
            color: white;
        }
        tbody{
            height: 100%;
        }
        
        td{
            border: none;
            margin: 0;
            padding: 4%;
            cursor: pointer;
            &.last-month {
                color: #9d9c99;
            }
            &.selected {
                color: white;
                background-color: $color-base;
                border-radius: 50%;
            }
        }
    }
    
    .months-grid {
        
        @include grid;
        
        border: 1px solid #eee;
        align-self: center;
        td{
            border: 1px solid #ccc;
            margin: 0;
            padding: 4%;
            cursor: pointer;
            box-shadow: 2px 2px 2px #eee;
        }
    }
    
    .years-grid {
        
        @include grid;
        
        border: 1px solid #eee;
        align-self: center;
        td{
            border: 1px solid #ccc;
            margin: 0;
            padding: 4%;
            cursor: pointer;
            box-shadow: 2px 2px 2px #eee;
        }
    }
}