<!DOCTYPE html>
<html ng-app="datepicker">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable = no">
        
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/widget.css">
        
    </head>
    <body ng-controller="widgetController">
        
        <div id="datepicker-container">
            <input type="text" ng-model="final_date" id="datepicker" ng-focus="showDatepicker = true"  />
            <div id="widget" show-widget="showDatepicker">
                <div class="header" >
                    <h5><span ng-click="showGrid('month')">{{activeMonth | uppercase}}</span> <span ng-click="showGrid('year')">{{activeYear}}</span></h5>
                    <div class="actions">
                        <div class="action" ng-click="last()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </div>
                        
                        <div class="action" ng-click="next()">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        
                        <div class="action" ng-click="showDatepicker = false">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="grid-container">
                    <table class="days-grid" ng-if="showDaysGrid == true">
                        <thead>
                            <tr>
                                <td ng-repeat="weekday in weekdays">{{weekday}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in days_grid">
                                <td ng-click="selectDate(date_obj)" ng-class="{'last-month' : !date_obj.activeMonth, 'selected' : date_obj.selected}" ng-repeat="date_obj in row" ng-init="date_obj.selected = false">{{date_obj.date}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="months-grid" ng-if="showMonthsGrid == true">


                        <tr ng-repeat="month_row in months">
                            <td ng-click="selectMonth(month)" ng-repeat="month in month_row" >{{month}}</td>
                        </tr>

                    </table>

                    <table class="years-grid" ng-if="showYearsGrid == true">


                        <tr ng-repeat="year_row in years">
                            <td ng-click="selectYear(year)" ng-repeat="year in year_row" >{{year}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        
        <script src="lib/moment.js"></script>
        <script src="https://use.fontawesome.com/38986e3cdf.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-route.min.js"></script>
        <script src="lib/angular-animate.min.js"></script>
        <script src="lib/angular-momentjs.min.js"></script>
        <script src="app.js"></script>
        <script src="widgetController.js"></script>
        
    </body>


</html>