#datepicker-container {
  position: relative; }

#datepicker {
  border: 1px solid #eee;
  padding: 10px;
  outline: none; }

#widget {
  border: 1px solid #eee;
  min-height: 300px;
  width: 300px;
  box-shadow: 5px 5px 2px #888888;
  position: absolute;
  left: 0;
  display: none;
  color: white;
  text-align: center; }
  #widget .header {
    padding: 0;
    margin: 0;
    background-color: #2086e4;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #widget .header h5 {
      margin: 0;
      padding: 3%;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      width: 100%; }
      #widget .header h5 span {
        color: black;
        border: 1px solid #ccc;
        padding: 2% 4% 2% 4%;
        border-radius: 2px;
        background-color: white;
        box-shadow: 1px 2px 2px #000; }
      #widget .header h5 span:hover {
        background-color: #e6e6e6; }
      #widget .header h5 span:nth-child(1) {
        width: 50%; }
      #widget .header h5 span:nth-child(2) {
        width: 20%;
        margin-left: 3%; }
    #widget .header .actions {
      color: #10528d;
      padding: 3%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #widget .header .action {
      background-color: #4b9feb;
      height: 20px;
      width: 30px;
      text-align: center;
      margin-left: 5%;
      cursor: pointer;
      box-shadow: 1px 2px 2px #000; }
  #widget .grid-container {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1; }
  #widget .days-grid {
    padding: 0;
    border: none;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    height: 10%;
    color: #181818;
    margin: 0;
    margin-bottom: auto; }
    #widget .days-grid thead {
      background-color: #2086e4;
      padding: 0;
      border: none;
      color: white; }
    #widget .days-grid tbody {
      height: 100%; }
    #widget .days-grid td {
      border: none;
      margin: 0;
      padding: 4%;
      cursor: pointer; }
      #widget .days-grid td.last-month {
        color: #9d9c99; }
      #widget .days-grid td.selected {
        color: white;
        background-color: #2086e4;
        border-radius: 50%; }
  #widget .months-grid {
    padding: 0;
    border: none;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    height: 10%;
    color: #181818;
    margin: 0;
    border: 1px solid #eee;
    align-self: center; }
    #widget .months-grid td {
      border: 1px solid #ccc;
      margin: 0;
      padding: 4%;
      cursor: pointer;
      box-shadow: 2px 2px 2px #eee; }
  #widget .years-grid {
    padding: 0;
    border: none;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    height: 10%;
    color: #181818;
    margin: 0;
    border: 1px solid #eee;
    align-self: center; }
    #widget .years-grid td {
      border: 1px solid #ccc;
      margin: 0;
      padding: 4%;
      cursor: pointer;
      box-shadow: 2px 2px 2px #eee; }
